* {
    box-sizing: border-box;
  }

body{
    background-color: silver;
}
.container{
    position: relative;
}

.title{
    background-color: #f44336;
    height: 100px;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
  }

ul li {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    background: rgb(194, 177, 177);
    border: 1px  solid black;
    border-radius: 5px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.container-lista{
    position: absolute;
    width: 1200px;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    
}

.container-lista h1{
    text-align: center;
    padding: 15px;
}

.box-input{
    margin-left: 45px;
}

.ms_li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.far{
    font-size: 30px;
    color: red;
}

.linea{
    text-decoration: line-through;
    color: red;
}

ul li:nth-child(odd) {
    background: #524b4b;
  }

  ul li:hover {
    background: #ddd;
  }
